.bloc-component {
    display: flex;
    position: relative;

    .bloc-wrapper {
        margin-right: 1rem;
        width: 33%;

        .first-bloc {
            display: flex;
            position: relative;
        }

        .second-bloc {
            position: relative;

           .second-wrapper {
                display: flex;
               top: 10rem;
           }
        }
    }
}