.bloc-component {
    display: flex;

    .bloc-wrapper {
        width: 33%;

        .first-bloc {
            display: flex;
        }

        .second-bloc {
           .second-wrapper {
                display: flex;
           }
        }
    }
}